#created {
  font-weight: lighter;
}

#goBack {
  background-color: transparent;
  border-style: hidden;
}

#goBack {
  margin-left: -35px;
}

#imgBox {
  text-align: center;
}

img {
  margin: 10px 10px 0 30px;
  background-color: transparent;
}

#contents {
  font-weight: normal;
  text-align: left;
}

table .thead-light th {
  text-align: left;
}
