.table .thead-light th {
  background-color: rgba(59, 0, 99, 0.6);
  color: white;
  /* background-color: rgba(221, 136, 134, 0.8); */
}

#delete {
  float: right;
  margin-right: 20px;
  width: 100px;
  height: 50px;
  background-color: rgba(59, 0, 99, 0.6);
  color: white;
}

#submit {
  float: right;
  margin-right: 20px;
  width: 100px;
  height: 50px;
  background-color: rgba(59, 0, 99, 0.6);
}

#asdf {
  background-color: black;
}
