#title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.container {
  background-color: rgba(244, 101, 99, 0.2);
  margin: auto;
  margin-top: 100px;
  border-radius: 120px / 120px;
  padding: 30px 0 30px 0;
}
.col-7 {
  margin: auto;
}

#sub {
  margin-top: 15px;
}

.input-group-text {
  background-color: rgba(59, 0, 99, 0.8);
  font-weight: normal;
  width: 175px;
  color: rgba(255, 255, 255, 0.9);
}

.col-2 {
  margin: auto;
}

.button {
  margin: auto;
  background-color: rgba(59, 0, 99, 0.8);
  border-color: rgba(59, 0, 99, 0.8);
  color: rgba(255, 255, 255, 0.9);
}

#desc {
  margin-bottom: -10px;
  padding-left: 20px;
}

#submit_container {
  background-color: rgba(1, 1, 1, 0);
}
