#BG {
  background-image: url('./images/background.png');
  width: 100%;
  height: 110vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#leftCon {
  height: 70vh;
  float: left;
  width: 30%;
  background-color: rgba(255, 84, 84, 0.46);
  padding: 80px;
  margin: 10% 5% 15% 15%;
  border-radius: 20px;
}

#rightCon {
  height: 70vh;
  float: right;
  width: 30%;
  background-color: rgba(244, 159, 61, 0.39);
  padding: 80px;
  margin: 10% 15% 15% 5%;
  border-radius: 20px;
}

#welTeamName {
  font-family: 'Mountains of Christmas', cursive;
  font-weight: bold;
  font-style: normal;
  font-size: 50px;
  text-align: center;
}

#withoutLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 70px;
  width: 80%;
  margin: 50px 10%;
  background-color: rgb(76, 7, 119);
  border-color: rgb(76, 7, 119);
  border-radius: 15px;
  font-family: Aldrich, sans-serif;
}

#IDbox {
  height: 40px;
  width: 80%;
  margin: 50px 10% 20px 10%;
  border-radius: 10px;
}

#PWbox {
  height: 40px;
  width: 80%;
  margin: 20px 10%;
  border-radius: 10px;
}

#signupbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 70px;
  width: 80%;
  margin: 50px 10%;
  background-color: rgb(171, 71, 234);
  border-radius: 15px;
  border-color: rgb(171, 71, 234);
  font-family: Aldrich, sans-serif;
  font-weight: bold;
  font-size: 25px;
}

#loginButton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 70px;
  width: 80%;
  margin: 50px 10%;
  background-color: rgb(171, 71, 234);
  border-radius: 15px;
  border-color: rgb(171, 71, 234);
  font-weight: bold;
  font-family: Aldrich, sans-serif;
}

#BT {
  background-image: url('./images/black%20tardis.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 70%;
  height: 70%;
  margin: 0% 15%;
}
