#mainDisplay {
  box-sizing: border-box;
  line-height: 85vh;
  overflow-x: auto;
  margin: 0;
  padding: 10px;
  white-space: nowrap;
}

#mainDisplay > * {
  vertical-align: middle;
}

.gameContainer {
  font-family: 'Montserrat Alternates', sans-serif;
  display: inline-block;
  width: 500px;
  line-height: 70vh;
  vertical-align: middle;
  padding: 20px 5px 20px 5px;
  margin: 10px;
  text-align: center;
}

.gameThumbnail {
  width: 90%;
  line-height: 60vh;
  vertical-align: middle;
  background-color: rgba(228, 208, 187, 0.51);
  margin-left: auto;
  margin-right: auto;
}

.gameThumbnail img {
  width: 90%;
  background-color: darkcyan;
  margin-left: auto;
  margin-right: auto;
}

.gameTitle {
  width: 90%;
  line-height: 4em;
  vertical-align: middle;
  background-color: darkkhaki;
  margin: 0px auto 0px auto;
  text-align: center;
}
